{% extends "base.html" %}

{%block body%}

 {% for fc in faculty_courses %}
        <div class="course-card">
            <h3>{{ fc.course.course_name }}</h3>
            <p>Class: {{ fc.semester.name }}</p>
            
        </div>
       <form action="{{ url_for('api.get_assessment') }}" method="post">
        <input type="hidden" name="course_id" value="{{ fc.course_id }}">   <!-- this hidden form sends course_id automatically -->
        <div class="title-card">
            <h4>Assessment Title :</h4>
            <p><input
                type="text"
                name="title"
                placeholder="title"
                class="input-field"
            /></p>
            <h4>Assessment Total Marks :</h4>
            <p><input
                type="text"
                name="total_marks"
                placeholder="total marks"
                class="input-field"
            /></p>
        </div>
        <div class="center-btn">
                     <button type="submit" class="button">Create Assessment</button>
        </div>
       </form> 
       <h3>Previous Assessments : </h3>
        
         {% for assessment in assessments.get(fc.course_id, []) %}
        <a href="{{ url_for('assessment_details', assessment_id=assessment.id) }}" class="assess-card">
                <h3>{{ assessment.title }}</h3>
                <p>Update Marks</p>
            
         {% else %}
             <p>No assessments for this course.</p>
         {% endfor %}
        </a>
          <h4>Enrolled Students :</h4>

        <div class="course_students">
            {% for enrollment in course_students.get(fc.id, []) %}
               <p>
                {{ enrollment.student.firstname }}
                {{ enrollment.student.lastname }}
               </p>
            {% else %}
               <p>No students enrolled.</p>
            {% endfor %}
        </div>

        {% endfor %}

{%endblock%}