{% extends "base.html" %}

{%block body%}

 {% for fc in faculty_courses %}
        <div class="course-card">
            <h3>{{ fc.course.course_name }}</h3>
            <p>Class: {{ fc.semester.name }}</p>
            
        </div>

        <div class="course_students">
            <h4>Enrolled Students</h4>

            {% for enrollment in course_students.get(fc.id, []) %}
               <p>
                {{ enrollment.student.firstname }}
                {{ enrollment.student.lastname }}
                <input
                type="text"
                name="marks"
                placeholder="marks"
                class="input-field"
            />
               </p>
            {% else %}
               <p>No students enrolled.</p>
            {% endfor %}
        </div>

        {% endfor %}





{%endblock%}