{% extends "base.html" %}

{%block body%}

<section class="panel">
    <div class="panel-header">
        <h1>Welcome, {{ firstname }}!</h1>
        <p>Your student dashboard is ready. Review your courses and academic details in one place.</p>
        <p>Department : {{ department.name }}</p>
    </div>
    <div class="panel-header">
        <h2>My Courses</h2>

        {% for sc in student_courses %}
        <a href="{{ url_for('student_result', course_id=sc.course.id) }}" class="course-card-link">
            <div class="course-card">
                <h3>{{ sc.course.course_name }}</h3>
                <p>Class: {{ sc.semester.name }}</p>
            </div>
        </a>
        {% endfor %}
       

    </div>
</section>

{%endblock%}